.layout {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 75px auto auto;
}

.header-container {
  display: flex;
  height: 75px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.75);
  background-color: rgb(229, 124, 35);
  color: white;
}
.header-container__logo {
  text-decoration: none;
  color: white;
  text-align: center;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container__img {
  height: 75px;
  width: 75px;
}
.header-container__texto {
  display: none;
}
.header-container__nav {
  display: flex;
  align-items: center;
  justify-content: end;
  flex-grow: 6;
  gap: 3%;
}
.header-container__item {
  display: inline-block;
  padding: 15px;
  text-align: center;
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
}
.header-container__item:hover {
  color: rgb(2, 84, 100);
}

.main-container {
  display: grid;
}
.main-container__titulos {
  text-align: center;
  padding: 25px 0;
  background-color: rgb(248, 241, 241);
}
.main-container__parrafo {
  padding: 0 30px;
}
.main-container__pilares {
  display: grid;
  padding-top: 16px;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: rgb(2, 84, 100);
}
.main-container__pilar {
  width: 100%;
  text-align: center;
  color: white;
  padding-bottom: 16px;
}
.main-container__texto {
  margin-bottom: 8px;
}
.main-container__icono {
  color: white;
  transition: 0.3s ease-in-out;
}
.main-container__icono:hover {
  color: rgb(229, 124, 35);
}

.carousel__img {
  width: 100vw;
}
.carousel__titulo {
  color: white;
}
.carousel__parrafo {
  display: none;
}

.footer-container {
  text-align: center;
  background-color: rgb(229, 124, 35);
  padding: 20px 0px;
}
.footer-container__icono {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.footer-container__img {
  height: 75px;
  width: 75px;
}
.footer-container__texto--bold {
  display: none;
}
.footer-container__nav {
  display: flex;
  justify-content: center;
  gap: 15px;
}
.footer-container__item {
  text-decoration: none;
  color: white;
  transition: 0.3s ease-in-out;
}
.footer-container__item:hover {
  color: rgb(2, 84, 100);
}

@media screen and (min-width: 768px) {
  .header-container__texto {
    display: inline-block;
    transition: 0.3s ease-in-out;
  }
  .header-container__texto:hover {
    color: rgb(2, 84, 100);
  }
  .header-container__nav {
    gap: 5%;
  }
  .main-container {
    display: grid;
  }
  .main-container__parrafo {
    padding: 0 50px;
  }
  .main-container__pilares {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  .carousel__parrafo {
    display: block;
  }
  .footer-container__texto--bold {
    font-weight: bold;
    display: inline-block;
  }
}
@media screen and (min-width: 1000px) {
  .main-container__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 37, 41, 0.85);
  }
  .carousel {
    width: 1000px;
  }
  .carousel__img {
    width: 1000px;
  }
}

/*# sourceMappingURL=style.css.map */
