$color-primario: rgb(229,124,35);
$color-secundario: rgb(232,170,66);
$color-dark: rgb(2,84,100);
$color-light: rgb(248, 241, 241);

.layout{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto auto;
}

.header-container{
    display: flex;
    height: 75px;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.75);
    background-color: $color-primario;
    color: white;

    &__logo{
        text-decoration: none;
        color: white;
        text-align: center;
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img{
        height: 75px;
        width: 75px;
    }

    &__texto{
        display: none;
    }

    &__nav{
        display: flex;
        align-items: center;
        justify-content: end;
        flex-grow: 6;
        gap: 3%;
    }

    &__item{
        display: inline-block;
        padding: 15px;
        text-align: center;
        text-decoration: none;
        color: white;
        transition: 0.3s ease-in-out;

        &:hover{
            color: $color-dark;
        }
    }
}

.main-container{
    display: grid;

    &__titulos{
        text-align: center;
        padding: 25px 0;
        background-color: $color-light;
    }

    &__parrafo{
        padding: 0 30px;
    }

    &__pilares{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        background-color: rgb(2, 84, 100);
    }

    &__pilar{
        width: 100%;
        text-align: center;
        color: white;
        padding-bottom:16px;
    }

    &__texto{
        margin-bottom: 8px;
    }

    &__icono{
        color: white;
        transition: 0.3s ease-in-out;

        &:hover{
            color: $color-primario;
        }
    }

}

.footer-container{
    text-align: center;
    background-color: $color-primario;
    padding:20px 0px;

    &__icono{
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    &__img{
        height: 75px;
        width: 75px;
    }

    &__texto{
        &--bold{
            display: none;
        }
    }

    &__nav{
        display: flex;
        justify-content: center;
        gap: 15px;
    }

    &__item{
        text-decoration: none;
        color: white;
        transition: 0.3s ease-in-out;

        &:hover{
            color: $color-dark;
        }
    }
}

@media screen and (min-width: 768px) {
    .header-container{
        &__texto{
            display: inline-block;
            transition: 0.3s ease-in-out;

            &:hover{
                color: $color-dark;
            }
        }

        &__nav{
            gap: 5%;
        }
    }
    
    .main-container{
        display: grid;
        
        &__parrafo{
            padding: 0 50px;
        }

        &__pilares{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
        }
    }
    
    .footer-container{
        &__texto{
            &--bold{
                font-weight: bold;
                display: inline-block;
            }
        }
    }
}