.layout{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto 75px;
}

.main-container{
    display: grid;
    place-items: center;
    
    &__pilares{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

}