.layout{
    margin: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 75px auto 75px;
}

.header-container{
    &__texto{
        display: none;
    }
}

.main-container{
    display: grid;

    &__pilares{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }

}

.footer-container{
    &__texto{
        &--bold{
            display: none;
        }
    }
}

@media screen and (min-width: 768px) {
    .main-container{
        display: grid;
    
        &__pilares{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 1fr;
        }
    }

    .header-container{
        &__texto{
            display: inline-block;
        }
    }

    .footer-container{
        &__texto{
            &--bold{
                font-weight: bold;
                display: inline-block;
            }
        }
    }
}